/* Contact */
@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

@keyframes pulse {
  25% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}

.pulse {
  display: inline-block;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.pulse:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.icon-effect {
  font-size: 3em;
  color: #fff;
  margin-left: 60px;
  margin-top: 20px;
}

.icon-effect:hover {
  color: #773344;
}

.contact-title {
  width: 50%;
  text-align: right;
  margin-right: 25px;
}

.contact-content {
  width: 50%;
}

/* Projects */
.projects {
  height: 100vh;
  align-items: center;
  text-align: center;
}

.projects-content {
  width: 100%;
  display: flex;
  margin-top: 70px;
}

.projects-title {
  width: 100%;
}

.projects-title h1 {
  width: 100%;
  border-bottom: 3px solid;
  line-height: 0.1em;
  margin: 10px 0 20px;
  padding-top: 80px;
}

.projects-title h1 span {
  background: #fff;
  padding: 0 10px;
}

.size-card {
  width: 30%;
  margin: 0px 1.65%;
  height: 350px;
  position: relative;
  text-align: center;
}

.project-info {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
  padding-top: 20px;
  position: absolute;
  top: 0px;
  width: 100%;
  height: auto;
}

.overlay:hover .project-info {
  opacity: 0.9;
  color: #ffffff;
  font-weight: 700;
  background-color: #0a0d15ff;
  text-align: center;
  padding-top: 20px;
  height: 90%;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.back-text {
  padding-top: 10px;
}

.card-img-top {
  height: 240px;
}

.card-text {
  font-size: 22px;
}

.card-body {
  padding: 50px;
}

.btn-a {
  color: #ffffff !important;
  font-size: 15px;
  font-weight: 800;
  padding: 0.5em 1.2em;
  /* background: rgba(0, 0, 0, 0); */
  background: #60597d;
  /* border: 2px solid; */
  transition: all 1s ease;
  margin: 15px;
  text-decoration: none;
}

.btn-a:hover {
  background: #773344;
  color: #ffffff !important;
}

/* About Me */
.text-about {
  text-align: justify;
}

.stuffs-text {
  font-weight: 300;
  font-size: 15px;
  margin-top: 10px;
}

.like-about {
  padding: 0 100px;
}

.like-about .card {
  width: 33.33%;
  text-align: center;
}

.things-about {
  margin: 80px 0 0 0;
}

.icons-things {
  width: 30px;
  height: 30px;
  margin: 0px 10px;
}
.keep-text {
  font-family: 'Lobster';
  font-size: 60px;
  margin: 0 0 30px 0;
}

.complicated-text {
  font-family: 'Anton';
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 70px;
}

.bio-about {
  width: 50%;
  padding: 0 30px;
  text-align: center;
}

.backcolor {
  background-color: #0a0d15ff;
  color: white;
}

/* Skills */
.sizing-svg {
  max-width: 125px;
  margin-bottom: 12px;
  margin-top: 6px;
}

.size-icon {
  font-size: 80px;
}

.content-skills {
  width: 70%;
}

.title-skills {
  margin-right: 25px;
  text-align: right;
  width: 30%;
}

/* Home */
.sub-text span {
  font-family: 'Saira Extra Condensed';
  font-size: 25px;
  height: 40px;
}

.name {
  font-size: 60px;
  font-weight: 100;
  padding-top: 70px;
}

.name-circle .flexbox {
  display: grid;
  display: inline-grid;
}

.name-circle {
  margin: 350px auto;
  display: block;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

.img-universe {
  width: 100%;
  padding-top: 25px;
  max-height: 700px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/univ.jpg');
  background-size: cover;
  color: white;
  text-align: center;
  line-height: 50pt;
}

/* NavBar */
.nav {
  margin: 0%;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #ffffff;
}

.logo {
  color: #2a2b40;
  font-size: 35px;
  padding-bottom: 10px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #2a2b40;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
  padding-bottom: 5px;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 2px;
  margin: 5px;
  background-color: #2a2b40;
  transition: all 0.3s ease;
}

/* All */
.verticaline {
  border-left-style: solid;
}

.card {
  margin: 25px 0;
  width: 25%;
  float: left;
  text-align: center;
}

.root {
  display: unset;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.sizing {
  height: 100vh;
  display: flex;
  align-items: center;
}

body {
  font-family: sans-serif;
  font-family: 'Josefin Sans';
  font-weight: bold;
  font-size: 18px;
}

h1 {
  font-family: 'Julius Sans One';
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
}

html {
  scroll-behavior: smooth;
  color: #2a2b40;
}
header {
  width: 100%;
  height: auto;
}

@media (max-width: 1024px) {
  .nav-links {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .body {
    overflow-x: hidden;
  }

  .nav-links {
    display: none;
    transform: translate(0);
    transition: transform 1.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
    padding: 15px 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 6vh;
  display: block;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  transform: translate(0, 2px);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translate(0, 50px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.toggle .line-one {
  transform: rotate(-45deg) translate(-4px, 6px);
}

.toggle .line-two {
  opacity: 0;
}

.toggle .line-three {
  transform: rotate(45deg) translate(-4px, -6px);
}

@media (max-width: 450px) {
  /* Contact */
  .icon-effect {
    margin-left: 0;
  }

  .contact-content {
    width: 100%;
    text-align: center;
  }

  .contact-title {
    width: 100%;
    text-align: center;
    padding-top: 80px;
  }

  .contact {
    display: block;
    width: 100%;
  }

  /* Projects */
  .projects {
    height: 75em;
  }

  .projects-content {
    display: block;
  }

  .size-card {
    width: 100%;
  }

  .projects-title h1 {
    width: 100%;
    border-bottom: none;
    line-height: 1.2;
  }

  .projects-title h1 span {
    padding: 0;
  }

  /* About Me */
  .like-about {
    padding: 0 50px;
  }

  .complicated-text {
    margin-top: 0;
  }

  .about-me {
    display: block;
    width: 100%;
    height: 50em;
  }

  .bio-about {
    width: 90%;
    padding: 5%;
    text-align: center;
  }
  /* Skills */
  .card {
    margin: 25px 0;
    width: 50%;
    text-align: center;
  }

  .content-skills {
    width: 100%;
  }

  .title-skills {
    margin: 0;
    text-align: center;
    width: 100%;
  }

  .skills {
    display: block;
    height: 62em;
  }

  /* NavBar */

  /* Home */
  .name-circle {
    width: 300px;
    height: 300px;
  }

  .sub-text span {
    font-size: 20px;
    height: 30px;
  }

  .name {
    font-size: 50px;
  }

  .img-universe {
    line-height: 40pt;
  }

  /* All */
  .little-line {
    padding-top: 20px;
    border-bottom: 2px solid;
    width: 70px;
    height: 5px;
    margin: 0 auto;
    margin-bottom: 0px;
    display: block;
    margin-bottom: 50px;
  }

  .verticaline {
    border-left-style: none;
  }
}
